


/** Variables Start **/
:root {
	--primary-color: #000000; 
  	--d-link-color: #000000;
  	--d-link-hover-color: #edcd1f;
	--site-selection-text-color:#fff;
  	--site-selection-bg-color:#000000;
	
  	--white-color: #FFFFFF;
  	--black-color: #000000;
	--sc-1: #edcd1f;
	--sc-2: #000000;
	--gray-color: #f3f3f3;

	--sf-r: 'Roboto', sans-serif;
	--sf-b: 'Roboto', sans-serif;
	--sf-pd: 'Playfair Display', sans-serif;
}

/** Class Start **/
.Caps{text-transform: uppercase !important;}
.TAL{text-align: left !important;}
.TAC{text-align: center !important;}
.TAR{text-align: right !important;}
.TextColor1{color: #ffffff !important;} 
.TextColor2{color: #000000 !important;}
.TextColor3{color: var(--sc-1) !important;}
.TextColor4{color: var(--sc-2) !important;}
.BgColor1{background-color: #fff;}
.BgColor2{background-color: #000;}
.BgColor3{background-color: var(--sc-1);}
.BgColor4{background-color: var(--sc-2);}
.BgColor5{background-color: var(--gray-color);}
.sf-r{font-family: var(--sf-r) !important;}
.sf-b{font-family: var(--sf-b) !important;font-weight: 600;}
.montserrat-b{font-family: var(--sf-b) !important;font-weight: 700;}
/** Class End **/

body {
	background: #fff;
	font-family: var(--sf-r);
	color: var(--primary-color);
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}
a{text-decoration: none;transition: all 0.3s ease-in-out;color: var(--sc-2);}
a:hover{color: var(--sc-1);}

::selection {color: #fff;background-color: var(--sc-2);}
::-moz-selection {color:#fff;background-color: var(--sc-2);}
::-webkit-selection {color:#fff;background-color: var(--sc-2);}

h1,h2,h3,h4,h5,h6{font-family: var(--sf-b);font-weight: 700;}

h1{font-size: 50px;}
h2{font-size: 45px;}
h3{font-size: 35px;}
h4{font-size: 30px;}
h5{font-size: 25px;line-height: 1.3;}
h6{font-size: 18px;line-height: 1.3;}

ol {list-style: decimal;margin-left: 30px;}
ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
sub {vertical-align: sub !important;}
sup {vertical-align: sup !important;}
img {border: 0px;max-width: 100%;height: auto;}
* :focus {outline: none;}

img{
	border: 0px;
    max-width: 100%;
    height: auto;
}
.FParagraph p{
	margin-bottom: 15px;
}
.desc ul,.desc ol,.FParagraph1 p{
	margin-bottom: 20px;
}
.FParagraph p:last-child,.FParagraph1 p:last-child{
	margin-bottom: 0;
}
hr{
	border: 0;
	opacity: 1;
}
ul {list-style-type: none;margin: 0px;padding: 0px;}
ul li {
	background-image: url(../images/bullet-1.png);
	background-position:3px 9px;/*R T*/
	background-repeat: no-repeat;
	margin: 0px;
	padding: 1px 0px;
	padding-left: 20px;
}
.NoBullet li {
	background-image: none;
	background-position: 0px;/*R T*/
	background-repeat: no-repeat;
	margin: 0px; /*T R B L*/
	padding: 0px;/*T R B L*/
}
/*---9 .EditorText default UL-OL css---*/
.EditorText ul {
  display: flow-root;
}
.EditorText h1,.EditorText h2,.EditorText h3,.EditorText h4,.EditorText h5,.EditorText h6{
	margin-bottom: 10px;
}
.EditorText h1{
	font-size: 35px;
}
.EditorText h2{
	font-size: 30px;
}
.EditorText h3{
	font-size: 25px;
}
.EditorText h4{
	font-size: 22px;
}
.EditorText h5{
	font-size: 18px;
}
.EditorText h6{
	font-size: 16px;
}
.EditorText ul + h1,.EditorText ul + h2,.EditorText ul + h3,.EditorText ul + h4,.EditorText ul + h5,.EditorText ul + h6,
.EditorText ul + p{
	margin-top: 20px;
}
.EditorText ul li {
	background-image: url(../images/bullet-1.png);
	background-repeat: no-repeat;
	margin: 0px 0px 5px;
	padding: 0px 0px 0px 20px;/*T R B L*/
	border: 0px solid;
	display: block;
	text-align: left;
}
.EditorText ol li {
	display: list-item;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	text-align: left;
	background-repeat: no-repeat;
	background-image: none !important;
	cursor: text;
	width: auto !important;
	list-style: decimal;	
	border: 0px;	
	text-align: left;
}
.EditorText hr {margin: 0px;border-bottom: 1px solid #999;height: 1px;width: 100%;}
.EditorText table {
  max-width: 500px !important;
  width: 100% !important;
  border-collapse: collapse !important;
}
.EditorText table tr td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 5px 15px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
.EditorText sup {vertical-align: super;font-size: smaller;}
.EditorText sub {vertical-align: sub;font-size: smaller;}
.EditorText blockquote {padding-left: 20px;}
/*--- social icons Start---*/
ul.SocialIcons{
	list-style: none;
}
.FSocialIcon {margin:0 auto;text-align:center;}
.FSocialIcon li{
	background-image:none;
	padding:0px;
	margin:0px 0px;
	display:inline-block;
	vertical-align:top;
}
.FSocialIcon .fa-stack {width:40px;height:40px;line-height:40px;}
.FSocialIcon  .fa-stack-2x {top:0px;font-size:40px;}
.FSocialIcon .fa-lg {font-size:20px;line-height:40px;}
.FSocialIcon a{color:var(--sc-2);transition:all ease 0.5s;}
.FSocialIcon a:hover{color:var(--sc-1);}
.FSocialIcon a .fa-inverse{color:#fff;}
.FSocialIcon a:hover .fa-inverse{color:#fff;}

/*--- social icons End ---*/

@media (min-width: 1225px){
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1200px;
		padding-left: 0;
		padding-right: 0;
		padding: 50px 0px;
	}
	.container-fluid, .container-xxl{
		padding: 0;
	}
	.scroll-top-arrow{
		display: none;
	}
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
	padding: 50px 0px;
}
.btn-primary {
	color: #fff !important;
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--sf-b);
	font-weight: 700;
    background-color: var(--sc-2) !important;
    border: 2px solid var(--sc-2) !important;
	text-transform: uppercase;
    padding:12px 30px;
	transition: all 0.3s ease-in-out;
}
.btn-primary span{
	font-weight: 500;
	font-size: 16px;
}
.btn-primary:hover{
	background-color: #000 !important;
	border: 2px solid #000 !important;
}
.btn-secondary {
	color: #fff !important;
    font-size: 14px;
    line-height: 1;
    font-family: var(--sf-b);
	font-weight: 700;
    background-color: var(--sc-2) !important;
    border: 2px solid #fff !important;
    padding:12px 30px;
	transition: all 0.3s ease-in-out;
}
.btn-secondary:hover{
	background-color: var(--sc-1) !important;
	border: 2px solid #fff !important;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: var(--sc-2);
    border-color: #fff;
    box-shadow: none !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow:none !important;
}
.default-sep-line{
	width: 210px;
    height: 4px !important;
    background-color: var(--sc-1);
    margin: 20px 0;
    position: relative;
}
.row{
	margin-left:0 ;
	margin-right: 0;
}


/** Top Navigation Start **/
html{
	margin-top: 101px;
}
.header {
	border-bottom: 4px solid var(--sc-1);
}
.navbar{
	padding: 0;
}
.navbar .container{
	padding: 6px 0px;
} 
.header .address-col,.header .phone-col,.header .address-col a,.header .phone-col a{
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--primary-color);
	font-size: 15px;
	line-height: 1.5;
}
.header .address-col a:hover,.header .phone-col a:hover{
	color: var(--sc-2);
}
.header .phone-col,.header .phone-col a{
	font-size:18px;
	font-family: var(--sf-b);
	font-weight: 500;
	justify-content: end;
	color: #fff;
}
.header .address-col i,.header .phone-col i{
	width: 20px;
	height: 20px;
	background-color: var(--sc-1);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 10px;
	line-height: 0;
}
/** Top Navigation End **/

/** Header Section Start **/
.idx-header-wrapper .container{
	padding: 0;
	width: 100%;
	max-width: 1400px;
}
.idx-header-wrapper .row{
	position: relative;
}
.idx-header-wrapper .col{
	padding: 0;
}
.carousel-indicators [data-bs-target] {
    height: 8px;
}
.idx-header-wrapper .carousel-item img{
	width: 100%;
}
.hero-video-wrapper{
	line-height: 0;
}
.idx-header-wrapper .right-wrapper {
	background-color: var(--gray-color);
}
.idx-header-wrapper .right-wrapper .shortdesc {
	background-color: #000;
	padding:8px 15px;
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
	font-family: var(--sf-b);
	font-weight: 600;
	text-align: center;
}
.form-floating>label{
	padding:12px;
	font-size: 14px !important;
	line-height: 1.3 !important;
}
.form-floating>.form-select,
.form-floating>.form-control {
    padding: 5px 12px;
    height: 45px;
}
.form-floating>.form-select{
	padding-top: 15px;
}
input,select,textarea{
	font-size: 14px !important;
	line-height: 1.3 !important;
}
input:focus,select:focus,textarea:focus{
	box-shadow: none !important;
	border: 1px solid var(--sc-1) !important;
}
.ThanksMsg {
	margin: 100px 0px;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--sf-b);
    font-weight: 700;
}

.header-text{
	position: absolute;
    bottom: 420px;
    z-index: 1;
}
.header-text h1{
	font-size: 45px;
	line-height: 1.2;
	/* color: #fff; */
	font-family: var(--sf-pd);
	font-weight: 500;
}
.header-text .btn-primary {
    color: #fff !important;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 900;
    background-color: var(--sc-1) !important;
    border: 2px solid var(--sc-1) !important;
    padding: 14px 32px;
	border-radius: 0;
}
/** Header Section End **/

/** Service Section Start **/
.service-wrapper{
	background-color: var(--sc-1);
}
.service-wrapper .container{
	padding: 30px 0px;
}
.service-wrapper .row{
	gap:20px 30px;
}
.service-wrapper .col{
	padding: 0;
	max-width: 215px;
	width: 100%;
	position: relative;
	border: 4px solid var(--sc-2);
	transition: all 0.3s ease-in-out;
}

.service-wrapper .col .ImgWrap{
	overflow: hidden;
}
.service-wrapper .col .ImgWrap img{
	transition: all 0.3s ease-in-out;
}
.service-wrapper .col:hover .ImgWrap img{
	transform: scale(1.1);
}
.service-wrapper .d-flex{
	gap: 20px;
	align-items: center;
	justify-content: center;
    padding: 10px 5px;
	transition: all 0.3s ease-in-out;
}
.service-wrapper .col:hover{
	background-color: #000;
}
.service-wrapper .d-flex .title{
	color: #000;
	font-family: var(--sf-pd);
	font-weight: 400;
	font-size: 22px;
	line-height: 1.2;
}
.service-wrapper .d-flex .icon{
	min-width: 65px;
	max-width: 65px;
}
.service-wrapper .col:hover .title{
	color: #fff;
}
.service-wrapper .col:hover .icon img{
	filter: invert(89%) sepia(86%) saturate(3742%) hue-rotate(335deg) brightness(94%) contrast(97%);
}
/* .service-wrapper .col .title{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	text-transform: uppercase;
	font-family: var(--sf-b);
	font-weight: 600;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
} */
/** Service Section End **/

/** Welcome Section Start **/

.welcome-wrapper.container{
	max-width: 1140px;
	padding: 65px 0;
}
.welcome-wrapper h3.title{
	color: var(--sc-2);
	font-size: 38px;
	line-height: 1.1;
	font-family: var(--sf-dp);
	font-weight: 400;
	margin-bottom: 10px;
} 
.welcome-wrapper .ImgWrap {
	position: relative;
}
.welcome-wrapper .ImgWrap img {
	z-index: 1;
	position: relative;
}
.welcome-wrapper .ImgWrap::before {
	content: "";
	position: absolute;
	background-color: var(--sc-1);
	width: 395px;
	height: 325px;
	bottom: -15px;
	right: -15px;
}
/** Welcome Section End **/

/** Blog Section Start **/
.blog-wrapper{
	background-color: var(--gray-color);
}
.blog-wrapper h2.title{
	font-family: var(--sf-pd);
	font-weight: 400;
	font-size: 35px;
	line-height: 1.2;
}
.blog-wrapper .col{
	max-width: 285px;
	padding: 0;
	border-radius: 5px;
	overflow: hidden;
}
.blog-wrapper .col .descwrap{
	background-color: #fff;
	padding: 15px;
}
.blog-wrapper .col .descwrap .date{
	color: var(--sc-2);
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: var(--sf-b);
	font-weight: 700;
	margin-bottom: 10px;
	border-bottom: 2px solid var(--sc-1);
	display: inline-block;
	padding-bottom: 10px;
}
.blog-wrapper .col .descwrap h4.title{
	color: #000;
	font-size: 18px;
	line-height: 1.3;
	font-family: var(--sf-pd);
	font-weight: 400;
	margin-bottom: 5px;
}
.blog-wrapper .btn-primary {
	color: #000 !important;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 900;
    background-color: var(--sc-1) !important;
    border: 2px solid var(--sc-1) !important;
    padding: 13px 14px;
	border-radius: 0;
	letter-spacing: 1px;
}
.blog-wrapper .btn-primary:hover{
	color: #fff !important;
	background-color: var(--sc-2) !important;
    border: 2px solid var(--sc-2) !important;
}

/** Blog Section End **/ 

/** Full Width Map Start **/
.footer-wrapper .right,.full-width-map-wrapper{
	line-height: 0;
}
.footer-wrapper iframe,
.full-width-map-wrapper iframe{
	width: 100%;
	height: 450px;
}
.footer-wrapper  .col-xl-4.left{
	background-color: #000;
}
/** Full Width Map End **/

/** Footer Start **/

.footer-wrapper .left .col{
	max-width: 350px;
	width: 100%;
	float: right;
}
.copy,.developed-by,.developed-by a,
.footer-link ul li a{
	color: #000;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	font-family: var(--sf-r);
	font-weight: 500;
	letter-spacing: 0.5px;
}
.developed-by a:hover,
.footer-link ul li a:hover{
	color: var(--sc-1);
}
.copy,.developed-by,.developed-by a{
	line-height: 1.6;
}
.footer-wrapper .info-col{
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
} 
.footer-wrapper .info-col.address{
	align-items: inherit;
}
.footer-wrapper .info-col:last-child{
	margin-bottom: 0px;
}
.footer-wrapper .info-col .Icon{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: var(--black-color);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-wrapper .info-col .Icon i{
	font-size: 19px;
    line-height: 1;
	color: var(--sc-1);
}
.footer-wrapper .info-col .text h6{
	color: var(--sc-1);
	font-size: 16px;
	line-height: 1.2;
}
.footer-wrapper .info-col .text a{
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}
.footer-wrapper .info-col.phone .text,
.footer-wrapper .info-col.phone .text a{
	font-family: var(--sf-b);
	font-size: 18px;
}
.footer-wrapper .info-col .text a:hover{
	color: var(--sc-1);
}
.copyright .container{
	padding-top: 25px;
} 
.copy br{
	display: none;
}
.scroll-top-arrow{
	margin-top: 20px;
}
.scroll-top-arrow i{
	color: #000;
	font-size: 25px;
}
/** Footer End **/

/** Floating Footer Start **/
.StickyBtns {
	position: fixed;
	bottom: 0;
	z-index: 109;
	right: 0;
	width: 100%;
}
.StickyBtns .FillRedBorder {
	height: 6px;
	background-color: var(--sc-1);
	position: absolute;
	width: 100%;
	bottom: 0;
}
.StickyBtns .MainWrapper {
	position: relative;
	bottom: 6px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 !important;
}
.StickyBtns .FSocialIcon {
	float: right;
	background-color: var(--sc-1);
	margin: 0 0 0 10px;
	padding:6px 15px 4px;
	border-bottom: 0;
	width: auto;
	box-sizing: border-box;
}
.StickyBtns .FillRedBtn {
	display: inline-block;
}
.StickyBtns .MainWrapper .RightWrapper {
	display: inline-block;
	bottom: 0px;
	width: auto;
	right: 0px;
	position: absolute;
	z-index: 2;
}
.StickyBtns ul.SocialIcons{
	display: flex;
	margin: 0;
	padding: 0;
}
.StickyBtns ul.SocialIcons a{
	color: #000;
}
.StickyBtns ul.SocialIcons li:hover a{
	color: #fff;
}
.StickyBtns ul.SocialIcons .fa-inverse{
	color: var(--sc-1);
}
.StickyBtns ul.SocialIcons a:hover{
	color: var(--sc-1);
}
.StickyBtns ul.SocialIcons a:hover .fa-inverse{
	color: #000;
}
.StickyBtns .btn-primary{
	color: #000 !important;
	font-size: 14px;
	line-height: 1.1;
	text-transform: uppercase;
	font-family: var(--sf-b);
	font-weight: 700;
	border-radius: 0;
	padding: 12px 30px;
	border: 0;
	border: 2px solid var(--sc-1) !important;
	background-color: var(--sc-1) !important;
}

.StickyBtns .btn-primary:hover{
	color: #fff !important;
	background-color: var(--sc-2) !important;
}
.modal-header{
	display: block;
	text-align: center;
	padding: 40px 20px 0;
	border: 0;
}
.modal-header .btn-close {
	margin: 0;
	font-weight: 800;
	font-size: 15px; 
	padding: 10px !important;
}
.modal-title {
	color: var(--sc-2);
    text-transform: uppercase;
    font-family: var(--sf-b);
    font-weight: 700;
    line-height: 1.3;
}
.g-recaptcha {
	-moz-transform: scale(0.80);
	-ms-transform: scale(0.80); 
	-o-transform: scale(0.80);
	-moz-transform-origin: 0;
	-ms-transform-origin: 0;
	-o-transform-origin: 0;
	-webkit-transform: scale(0.80);
	transform: scale(0.80);
	-webkit-transform-origin: 0 0;
	transform-origin: 0;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.80,M12=0,M21=0,M22=0.80,SizingMethod='auto expand');
}
/** Floating Footer End **/