@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:320px) and (max-width:1224px) {
    html{
        margin-top: 0;
    }
    .MainWrapper,.StickyBtns .MainWrapper,.cta-wrapper .container,
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        padding: 50px 0px;
        max-width: 94% !important;
        margin: 0 auto;
    }
    img ,.EditorText img {
    	max-width:100%;	
    }    
    .navbar .container {
        padding: 12px 0px;
    }
    .fixed-top{
        position: relative;
    }
    .idx-header-wrapper .container{
        max-width: 100% !important;
    }
    .header .logo-col{
        width: 92px;
        max-width: 92px;
        padding: 0;
    }
    .header .right-col{
        width: 70%;
        padding: 0;
    }
    .header .right-col .row{
        justify-content: flex-end;
        gap: 18px;
    }
    .header .address-col, .header .phone-col{
        width: auto;
        flex: inherit;
    }
    .header .address-col, .header .phone-col, .header .address-col a, .header .phone-col a {
        justify-content: flex-end;
        padding: 0;
    }
    .service-wrapper .row {
        gap: 15px;
    }
    .service-wrapper .col .title{
        text-align: center;
        padding: 10px;
        position: relative;
        background-color: #000;
        background: #000;
    }
    .default-sep-line{
        margin: 20px auto;
    }
    .copyright .container {
        padding-bottom: 60px;
    }
    .footer-wrapper .container-fluid{
        padding: 0;
    }
    .footer-wrapper .left .col {
        max-width: inherit;
        width: 94%;
        float: none;
        margin: 0 auto;
        padding: 40px 0 !important;
        text-align: center;
    }
    .footer-wrapper .left .contact-info{
        display: flex;
        justify-content: center;
    }
    .footer-wrapper .info-col{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 33.3%;
        padding: 20px;
    }
    .footer-wrapper .info-col .Icon {
        margin: 0 auto 10px;
    }
    .modal-dialog{
        max-width: 94% !important;
    }
    .g-recaptcha {
	    -moz-transform: scale(0.80);
	    -ms-transform: scale(0.80);
	    -o-transform: scale(0.80);
	    -moz-transform-origin: 0;
	    -ms-transform-origin: 0;
	    -o-transform-origin: 0;
	    -webkit-transform: scale(0.80);
	    transform: scale(0.80);
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0;
	    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.80,M12=0,M21=0,M22=0.80,SizingMethod='auto expand');
	}
    .copyright{
        text-align: center;
    }   
}

@media only screen and (min-width:481px) and (max-width:767px) {
    .blog-wrapper .row ,.service-wrapper .row,.header .container .row{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .header .logo-col{
        margin-bottom: 15px;
    }
    .header .logo-col,.header .right-col{
        width: 100%;
    }
    .header .phone-col, .header .phone-col a {
        font-size: 16px;
    }
    .service-wrapper .col {
        flex: inherit;
    }
    .welcome-wrapper h3.title {
        font-size: 30px;
    }
    .modal-dialog{
        max-width: 97% !important;
    }
    .submit-btn{
        text-align: center !important;
    }
    .blog-wrapper .col {
        flex: inherit;
    }
    .footer-wrapper .info-col {
        padding: 8px;
    }
}
@media only screen and (min-width:320px) and (max-width:480px) {
    .idx-header-wrapper .right-wrapper .shortdesc br{
        display: none;
    }
    .welcome-wrapper .col {
        padding: 0;
    }
    .footer-wrapper .left .contact-info,
    .blog-wrapper .row ,.service-wrapper .row,.header .container .row{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .header .logo-col{
        margin-bottom: 15px;
    }
    .header .logo-col,.header .right-col{
        width: 100%;
    }
    .header .phone-col, .header .phone-col a {
        font-size: 16px;
    }
    .service-wrapper .col {
        flex: inherit;
    }
    .welcome-wrapper h3.title {
        font-size: 28px;
    }
    .modal-dialog{
        max-width: 97% !important;
    }
    .submit-btn,.blog-wrapper .col .descwrap{
        text-align: center !important;
    }
    .blog-wrapper .col {
        flex: inherit;
    }
    .footer-wrapper .info-col {
        width: 100%;
        padding: 10px;
    }
    .footer-wrapper iframe, .full-width-map-wrapper iframe{
        height: 350px;
    }
    .StickyBtns .btn-primary {
        padding: 12px 8px;
        font-size: 16px;
    }    
    .StickyBtns .FSocialIcon {
        padding: 3px 7px 3px;
        margin: 0 0 0 6px;
    }

    h2 {
        font-size: 28px;
    }
    .modal-dialog{
        max-width: 98% !important;
    }
    .form-wrap{
        padding: 40px 10px !important;
    }
    .submit-btn{
        text-align: center !important;
    }
    
    .modal-title {
        font-size: 20px;
    }
    
}
@media only screen and (min-width:280px) and (max-width:374px) {
    h2 {
        font-size: 28px;
    }
	.modal-dialog{
        max-width: 98% !important;
    }
    .form-wrap{
        padding: 40px 10px !important;
    }
    .submit-btn{
        text-align: center !important;
    }
    .StickyBtns .btn-primary {
        padding: 12px 8px;
    }
  
    .modal-title {
        font-size: 20px;
    }    
} 